@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

:root {
  --primary-color: #633BFF;
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Lato', sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--text-color);
  background-color: var(--background-color);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.floating {
  animation: float 4s ease-in-out infinite;
}

.spinning {
  animation: spin 10s linear infinite;
}


/* Smooth left-to-right highlight */
.highlight-effect {
  background-size: 0% 100%;
  background-position: 0% 100%;
  transition: background-size 1s ease-in-out, color 0.5s ease-in-out;
}

/* When in view */
.in-view {
  background-size: 100% 100%;
  color: white;
}


.animate-section {
  @apply opacity-0 translate-y-10 transition-transform duration-[800ms] ease-custom-ease;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slow-float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

.animate-slow-float {
  animation: slow-float 6s ease-in-out infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}